[submodule "apps/backend"]
	path = apps/backend
	url = https://github.com/Addison-Enterprises/hono-starter.git
[submodule "apps/frontend"]
	path = apps/frontend
	url = https://github.com/Addison-Enterprises/tanstack-starter.git
